* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* ----------------------------------------------------------------------------------- 
 3 column layout  */

.flex-container {
    display: inline-flex;
    flex-direction: row;
}

.left {
    width: 30%;
    height: 100dvh;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: visible;
    margin-bottom: 20px;
}

.middle {
    width: 20%;
    height: 100dvh;
    background: rgb(19, 55, 138);
    padding: 20px;
}

.right {
    width: 50%;
    height: 100dvh;
    background: rgb(19, 55, 138);
    padding: 20px;
}

/* ----------------------------------------------------------------------------- 
left items design*/

.left {
    display: inline-flex;
    flex-direction: column;
    margin: 20px auto;

}

.timeline-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    font-weight: 50;
    text-align: center;
}


.card {
    position: relative;
    max-width: 400px;
}

.card:nth-child(odd) {
    padding: 30px 0px 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0px;
}

.card::before {
    content: '';
    position: absolute;
    width: 50%;
    border: 5px solid red;
}

.card:nth-child(odd)::before {
    top: -4.5px;
    bottom: -4.5px;
    left: 0px;
    right: 0px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0px 0px 50px;
}

.card:nth-child(even)::before {
    top: 0;
    bottom: 0;
    left: 200px;
    right: 200px;
    border-width: 5px 5px 5px 0px;
    border-radius: 0px 50px 50px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #243B85, #141E30);
    border-radius: 15px;
    padding: 10px;
    color: wheat;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 75;
    padding-bottom: 10px;
    position: relative;
    color: red;

}

.title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 999px;
    border: 3px solid red;
}

.card:nth-child(odd) .info .title {
    text-align: left;
}

.card:nth-child(odd) .info .title::before {
    left: -50px;
}

.card:nth-child(even) .info .title {
    text-align: right;
}

.card:nth-child(even) .info .title::before {
    right: -60px;
}

.flex-container .left .card .info p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-transform: capitalize;
    color: wheat;
    text-align: justify;
}




/* ----------------------------------------------------------------------------- 
middle items design*/

.middle-image {
    width: 75%;
    margin-top: 60px;
    border: 3px solid black;
    border-radius: 50%;
}

.mp1 {
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: wheat;

}

/* ----------------------------------------------------------------------------- 
right items design*/

.rp1 {
    margin: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: wheat;
}

.rp2 {
    margin: 20px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-transform: capitalize;
    color: wheat;
    text-align: justify;
}

.button {
    position: fixed;
    height: 500px;
    width: 200px;
}

.read-more {
    position: relative;
    left: 40px;
    font-family: Georgia, s 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: red;
    text-align: center;
    border: 3px solid red;
    border-radius: 10px;
    text-decoration: none;

}

.read-more:hover {
    box-shadow:
        0 5px 20px 0 inset,
        0 5px 20px 0px,
        0 5px 20px 0 inset,
        0 5px 20px 0px;
    text-shadow:
        0 0 2px wheat,
        0 0 2px white;
}